USER=your_email_here
PASS=your_password_here
OPENAI_API_KEY=your_api_key_here
JWT_SECRET=your_jwt_secret_here
MONGODB_URI=mongodb://127.0.0.1:27017/byklea
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001